@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Montserrat+Alternates:wght@400;800&family=Pacifico&family=Paytone+One&family=Playball&family=Playfair+Display+SC:ital@0;1&family=Raleway:wght@600&family=Syncopate:wght@700&display=swap");

header {
  margin-top: 0;
  padding-top: 0rem;
  color: #eff5f5;
  z-index: 2000;
  position: relative;
  display: block;
  nav {
    // margin-top: 1.5rem;
    height: 7rem;
    display: flex;
    align-items: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.8rem;
    position: fixed;
    z-index: 1000000;
    width: 100vw;
    // margin-left: 10%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    //  border-radius: 2rem;
    display: flex;
    justify-content: space-between;

    .profile-box {
      padding: 0 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .user {
        fill: #000;
        margin: 0 1rem;
        font-size: 3rem;
        cursor: pointer;
        @media screen and (max-width: 700px) {
          display: none;
        }
        &:hover,
        &:active {
          transform: scale(1.1);
          transition: all ease-in 0.1s;
        }
      }
      .greeting {
        color: #000;
        font-size: 1.8rem;
        @media screen and (max-width: 380px) {
          font-size: 1.4rem;
        }
        span {
          color: #ff6380;
          font-weight: 800;
          font-size: 2rem;
          text-transform: capitalize;
        }
      }
    }

    .auth-box {
      padding: 0 2rem;
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .properties-box {
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff6380;
        border-radius: 3rem;
        padding: 0.2rem 0.5rem;
        padding-right: 1rem;
        cursor: pointer;
        &:hover,
        &:active,
        &:focus {
          transform: scale(1.05);
          transition: all ease-in 0.1s;
        }
        .peroperties-toggle {
          text-transform: capitalize;
          border: none;
          background: none;
          color: #fff;
          font-size: 1.6rem;
          //  height: 4rem;
          padding: 1rem 2rem;
          cursor: pointer;
        }
        .icon {
          margin-left: -1rem;
          fill: #e9ecef;
          font-size: 1.8rem;
          transform: rotate(90deg);
        }
      }
      .btn-option {
        background-color: #005458;
        color: #fff;
        position: absolute;
        top: 5rem;
        left: 2rem;
        border: none;
        font-size: 1.6rem;
        border-radius: 3rem;
        //  height: 4rem;
        padding: 1.2rem 2rem;
        cursor: pointer;
      }
      .green-color {
        background-color: #005458;
      }
      .pink-color {
        background-color: #ff6380;
      }
      .home-icon {
        fill: #000;
        font-size: 3rem;
        cursor: pointer;
        &:hover,
        &:active {
          transform: scale(1.1);
          transition: all ease-in 0.1s;
        }

        &:not(:last-child) {
          margin-right: 1.5rem;
          font-size: 3.5rem;
        }
      }
      .shopping-cart-box {
        display: flex;
        .shoppingcart-icon {
          fill: #000;
          font-size: 4rem;
          cursor: pointer;
          &:hover,
          &:active {
            transform: scale(1.1);
            transition: all ease-in 0.1s;
          }

          &:not(:first-child) {
            margin-left: 1.5rem;
            font-size: 3.5rem;
          }
        }
        @keyframes cartZoom {
          0% {
            transform: scale(1.5);
          }
          50% {
            transform: scale(1);
          }
          100% {
            transform: scale(1.5);
          }
        }
        .cart-no-animate {
          animation: cartZoom 1s;
        }
        .cart-no {
          margin-left: -0.8rem;
          background-color: #005458;
          border-radius: 3rem;
          padding: 0.2rem 1rem 0.5rem;
          height: 3rem;
          // z-index: 100;
          span {
            font-family: "Courier New", Courier, monospace;
            transform: scale(1.2);
            font-size: 1.5rem;
            text-align: center;
            color: #fff;
          }
        }
      }
      button {
        border: none;
        font-family: "Montserrat", sans-serif;
        background-color: #eb6440;
        color: #fff;
        height: 4rem;
        padding: 1rem 2rem;
        text-transform: capitalize;
        cursor: pointer;
        border-radius: 2rem;
        font-size: 1.6rem;
        font-weight: 800;
        @media screen and (max-width: 420px) {
          width: max-content;
          font-size: 1.2rem;
        }
        &:not(:first-child) {
          margin-left: 2rem;
        }

        &:hover,
        &:active {
          transform: scale(1.1);
          transition: all ease-in 0.1s;
        }
      }
    }

    .comapany-info {
      grid-column: span 1 / span 1;
      .com-info-box {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          background-color: #ff6380;
          font-weight: 800;
          padding: 1.5rem 3rem;
          border-radius: 3rem;
          .logo-icon {
            color: #005458;
            font-size: 2rem;
          }
          span {
            padding-left: 0.5rem;
          }
        }
      }
    }
    .greeting-con {
      grid-column: span 1 / span 1;
      .greeting-box {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          background-color: #fff;
          color: #000;
          padding: 1.5rem 3rem;
          border-radius: 3rem;
          .greeting > .name {
            padding-left: 1rem;
            color: #ff6380;
            font-weight: 800;
          }
        }
      }
    }
    .profile-con {
      grid-column: span 1 / span 1;
      .profile-box {
        display: flex;
        justify-content: center;
        span {
          background-color: #005458;
          padding: 1.5rem 3rem;
          border-radius: 3rem;
          .shopping-icon {
            font-size: 2.7rem;
            transform: scale(1.5);
            color: #ff6380;
            cursor: pointer;
            &:hover {
              transform: scale(1.7);
              transition: all ease-in 0.1s;
            }
          }
          .user {
            margin-left: 3rem;
            font-size: 2.5rem;
            cursor: pointer;

            &:hover {
              transform: scale(1.5);
              transition: all ease-in 0.1s;
            }
          }
          .logout-icon {
            margin-left: 3rem;
            font-size: 2.5rem;
            cursor: pointer;
            color: #eb6440;
            &:hover,
            &:active,
            &:focus {
              transform: scale(1.5);
              transition: all ease-in 0.1s;
            }
          }
        }
      }
    }
  }
}
//rgb(95, 91, 91)
//    font-family: "Montserrat Alternates", sans-serif;
// font weight 800
