.flight-section {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #eb6540, #005458), url(../../../vectors/61769.jpg);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}
.flight-section .content-section {
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.flight-section .content-section .content-box {
  margin-top: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.flight-section .content-section .content-box h1 {
  font-size: 8rem;
  font-family: "Raleway", sans-serif;
  color: #eb6440;
}
@media screen and (max-width: 750px) {
  .flight-section .content-section .content-box h1 {
    font-size: 6rem;
  }
}
@media screen and (max-width: 500px) {
  .flight-section .content-section .content-box h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 380px) {
  .flight-section .content-section .content-box h1 {
    font-size: 2rem;
  }
}
.flight-section .content-section .content-box p {
  font-size: 4rem;
  color: #005458;
  font-family: "Paytone One", sans-serif;
}
@media screen and (max-width: 750px) {
  .flight-section .content-section .content-box p {
    font-size: 3rem;
  }
}
@media screen and (max-width: 550px) {
  .flight-section .content-section .content-box p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 430px) {
  .flight-section .content-section .content-box p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 380px) {
  .flight-section .content-section .content-box p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 280px) {
  .flight-section .content-section .content-box p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 240px) {
  .flight-section .content-section .content-box p {
    font-size: 1rem;
  }
}
.flight-section .bookflight-form {
  margin-bottom: 5rem;
  border-radius: 3rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 3rem;
}
@media screen and (max-height: 700px) {
  .flight-section .bookflight-form {
    justify-self: end;
    align-self: flex-end;
  }
}
@media screen and (max-width: 1450px) {
  .flight-section .bookflight-form {
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 850px) {
  .flight-section .bookflight-form {
    width: 98%;
    margin-left: 1%;
  }
}
@media screen and (max-width: 750px) {
  .flight-section .bookflight-form {
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 520px) {
  .flight-section .bookflight-form {
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 460px) {
  .flight-section .bookflight-form {
    width: 98%;
    margin-left: 1%;
  }
}
.flight-section .bookflight-form .flight-option-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.flight-section .bookflight-form .flight-option-btn button {
  padding: 1.8rem 2rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  border: none;
  background: #005458;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
.flight-section .bookflight-form .flight-option-btn button:not(:last-child) {
  border-top-left-radius: 2rem;
}
.flight-section .bookflight-form .flight-option-btn button:not(:first-child) {
  border-top-right-radius: 2rem;
}
.flight-section .bookflight-form .flight-option-btn button .flight-icon {
  font-size: 1.6rem;
  color: #fff;
}
.flight-section .bookflight-form .flight-option-btn button:focus, .flight-section .bookflight-form .flight-option-btn button:hover, .flight-section .bookflight-form .flight-option-btn button:active {
  transform: scale(1.02);
  transition: all ease-in 0.1s;
}
.flight-section .bookflight-form .flight-option-btn .btn__active {
  background: #fff;
  color: #005458;
}
.flight-section .bookflight-form .flight-option-btn .btn__active .flight-icon {
  fill: #ff6380;
}
.flight-section .bookflight-form .flight-input__information {
  align-self: center;
  justify-self: center;
  background-color: #fff;
  border-radius: 0 3rem 3rem 3rem;
  padding: 7rem 2rem 7rem 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .flight-section .bookflight-form .flight-input__information {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-input__box {
  margin-left: 2rem;
  display: flex;
}
@media screen and (max-width: 750px) {
  .flight-section .bookflight-form .flight-input__information .flight-input__box {
    margin-left: 1rem;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 430px) {
  .flight-section .bookflight-form .flight-input__information .flight-input__box {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival {
  border: 2px solid #dee2e6;
  display: flex;
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival:not(:first-child) {
  border-left: none;
}
@media screen and (max-width: 430px) {
  .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival:not(:first-child) {
    border: 2px solid #dee2e6;
    border-top: none;
  }
}
@media screen and (max-width: 750px) {
  .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival {
    width: 50%;
  }
}
@media screen and (max-width: 430px) {
  .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival {
    width: 100%;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .flight-icon-box {
  background-color: #eb6440;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  align-self: center;
}
@media screen and (max-width: 1200px) {
  .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .flight-icon-box {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .flight-icon-box .flight-icon {
  font-size: 2.2rem;
  fill: #fff;
}
@media screen and (max-width: 1200px) {
  .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .flight-icon-box .flight-icon {
    font-size: 1.8rem;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con p {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con p {
    font-size: 1.6rem;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con input {
  border: none;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #005458;
  background: none;
}
@media screen and (max-width: 1200px) {
  .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con input {
    font-size: 1.6rem;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con input::-moz-placeholder {
  color: #005458;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: start;
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con input:-ms-input-placeholder {
  color: #005458;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: start;
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con input::placeholder {
  color: #005458;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: start;
}
@media screen and (max-width: 1200px) {
  .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con input::-moz-placeholder {
    font-size: 1.3rem;
  }
  .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con input:-ms-input-placeholder {
    font-size: 1.3rem;
  }
  .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con input::placeholder {
    font-size: 1.3rem;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con input:focus, .flight-section .bookflight-form .flight-input__information .flight-input__box .flight-departure__arrival .input-con input:active {
  outline: none;
}
.flight-section .bookflight-form .flight-input__information .flight-date__box {
  margin-left: 1rem;
  display: flex;
}
@media screen and (max-width: 430px) {
  .flight-section .bookflight-form .flight-input__information .flight-date__box {
    grid-column: 1/3;
  }
}
@media screen and (max-width: 380px) {
  .flight-section .bookflight-form .flight-input__information .flight-date__box {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date {
  border: 2px solid #dee2e6;
  display: flex;
}
.flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date:not(:first-child) {
  border-left: none;
}
@media screen and (max-width: 400px) {
  .flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date:not(:first-child) {
    border: 2px solid #dee2e6;
    border-top: none;
  }
}
@media screen and (max-width: 750px) {
  .flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date {
    width: 100%;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date .flight-icon-box {
  background-color: #005458;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  align-self: center;
}
.flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date .flight-icon-box .flight-icon {
  font-size: 1.8rem;
  fill: #fff;
}
@media screen and (max-width: 1200px) {
  .flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date .flight-icon-box .flight-icon {
    font-size: 1.4rem;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date .input-con {
  padding: 1rem 0;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;
}
.flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date .input-con p {
  padding-right: 1rem;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date .input-con p {
    font-size: 1.2rem;
  }
}
.flight-section .bookflight-form .flight-input__information .flight-date__box .depature-arrival__date .input-con .date-picker {
  border: none;
  background: none;
  outline: none;
  font-size: 1.4rem;
  color: #005458;
}
.flight-section .bookflight-form .flight-input__information .add-people-box {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 2px solid #dee2e6;
}
@media screen and (max-width: 750px) {
  .flight-section .bookflight-form .flight-input__information .add-people-box {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
.flight-section .bookflight-form .flight-input__information .add-people-box .people-icon-box {
  background-color: #005458;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-left: 1rem;
  align-self: center;
  color: #fff;
}
.flight-section .bookflight-form .flight-input__information .add-people-box .people-icon-box:first-child {
  font-size: 2rem;
  fill: #fff;
}
.flight-section .bookflight-form .flight-input__information .add-people-box .add-people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 0 1rem;
}
@media screen and (max-width: 1200px) {
  .flight-section .bookflight-form .flight-input__information .add-people-box .add-people {
    font-size: 1.4rem;
  }
}
.flight-section .bookflight-form .flight-input__information .add-people-box .add-people .arrow-decrement {
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 0.5rem;
  fill: #ff6380;
}
@media screen and (max-width: 1200px) {
  .flight-section .bookflight-form .flight-input__information .add-people-box .add-people .arrow-decrement {
    font-size: 1.6rem;
  }
}
.flight-section .bookflight-form .flight-input__information .add-people-box .add-people input {
  font-size: 2rem;
  font-weight: 900;
  width: 1.5rem;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  color: #005458;
  background: none;
}
@media screen and (max-width: 1200px) {
  .flight-section .bookflight-form .flight-input__information .add-people-box .add-people input {
    font-size: 1.6rem;
  }
}
.flight-section .bookflight-form .flight-input__information .add-people-box .add-people .arrow-increment {
  align-self: flex-start;
  justify-self: flex-start;
  cursor: pointer;
  margin-bottom: 0.5rem;
  fill: #ff6380;
}
.flight-section .bookflight-form .flight-form__submit-btn {
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
.flight-section .bookflight-form .flight-form__submit-btn button {
  padding: 1.5rem 2rem;
  background-color: #ff6380;
  color: #fff;
  cursor: pointer;
  margin-right: 3rem;
  margin-top: -2rem;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}
.flight-section .bookflight-form .flight-form__submit-btn button:hover, .flight-section .bookflight-form .flight-form__submit-btn button:focus, .flight-section .bookflight-form .flight-form__submit-btn button:active {
  transform: scale(1.1);
  transition: all ease-in 0.2s;
}
.flight-section .bookflight-form .flight-form__submit-btn button span {
  font-size: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
}
.flight-section .bookflight-form .flight-form__submit-btn button .arrow-next {
  margin-left: 0.5rem;
  font-size: 2rem;
}

.available-soon {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  color: red;
}/*# sourceMappingURL=FlightSearchForm.css.map */