.flight-section {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #eb6540, #005458),
    url(../../../vectors/61769.jpg);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;

  .content-section {
    padding-top: 7rem;
    padding-bottom: 5rem;
    .content-box {
      margin-top: 3rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      h1 {
        font-size: 8rem;
        font-family: "Raleway", sans-serif;
        color: #eb6440;
        @media screen and (max-width: 750px) {
          font-size: 6rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 4rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 2rem;
        }
      }
      p {
        font-size: 4rem;
        color: #005458;
        font-family: "Paytone One", sans-serif;
        @media screen and (max-width: 750px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 550px) {
          font-size: 2rem;
        }
        @media screen and (max-width: 430px) {
          font-size: 1.8rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 1.4rem;
        }
        @media screen and (max-width: 280px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 240px) {
          font-size: 1rem;
        }
      }
    }
  }
  .bookflight-form {
    margin-bottom: 5rem;
    border-radius: 3rem;
    height: max-content;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 3rem;
    @media screen and (max-height: 700px) {
      justify-self: end;
      align-self: flex-end;
    }
    @media screen and (max-width: 1450px) {
      width: 90%;
      margin-left: 5%;
    }
    @media screen and (max-width: 850px) {
      width: 98%;
      margin-left: 1%;
    }
    @media screen and (max-width: 750px) {
      width: 80%;
      margin-left: 10%;
    }
    @media screen and (max-width: 520px) {
      width: 90%;
      margin-left: 5%;
    }
    @media screen and (max-width: 460px) {
      width: 98%;
      margin-left: 1%;
    }
    .flight-option-btn {
      width: max-content;
      button {
        padding: 1.8rem 2rem;
        text-transform: capitalize;
        font-size: 1.6rem;
        border: none;
        background: #005458;
        color: #fff;
        cursor: pointer;
        font-weight: bold;

        &:not(:last-child) {
          // margin-right: 1rem;
          border-top-left-radius: 2rem;
        }
        &:not(:first-child) {
          border-top-right-radius: 2rem;
        }

        .flight-icon {
          font-size: 1.6rem;
          color: #fff;
        }
        &:focus,
        &:hover,
        &:active {
          transform: scale(1.02);
          transition: all ease-in 0.1s;
        }
      }
      .btn__active {
        background: #fff;
        color: #005458;
        .flight-icon {
          fill: #ff6380;
        }
      }
    }

    .flight-input__information {
      align-self: center;
      justify-self: center;
      background-color: #fff;
      //  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 0 3rem 3rem 3rem;
      padding: 7rem 2rem 7rem 0;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 750px) {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1rem;
      }

      .flight-input__box {
        margin-left: 2rem;
        display: flex;
        @media screen and (max-width: 750px) {
          margin-left: 1rem;
          grid-column: 1/3;
        }
        @media screen and (max-width: 430px) {
          display: grid;
          grid-template-columns: 1fr;
        }

        .flight-departure__arrival {
          border: 2px solid #dee2e6;
          display: flex;
          &:not(:first-child) {
            border-left: none;
            @media screen and (max-width: 430px) {
              border: 2px solid #dee2e6;
              border-top: none;
            }
          }
          @media screen and (max-width: 750px) {
            width: 50%;
          }
          @media screen and (max-width: 430px) {
            width: 100%;
          }
          .flight-icon-box {
            background-color: #eb6440;
            padding: 1rem;
            border-radius: 1rem;
            margin-right: 2rem;
            margin-left: 2rem;
            align-self: center;
            @media screen and (max-width: 1200px) {
              margin-right: 1rem;
              margin-left: 1rem;
            }
            .flight-icon {
              font-size: 2.2rem;
              fill: #fff;
              @media screen and (max-width: 1200px) {
                font-size: 1.8rem;
              }
            }
          }
          .input-con {
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            p {
              font-size: 1.8rem;
              margin-bottom: 0.5rem;
              //font-family: "Syncopate", sans-serif;
              font-family: "Montserrat Alternates", sans-serif;
              font-weight: 500;
              text-transform: uppercase;
              @media screen and (max-width: 1200px) {
                font-size: 1.6rem;
              }
            }

            input {
              border: none;
              font-size: 2rem;
              font-weight: 900;
              text-transform: uppercase;
              color: #005458;
              background: none;
              @media screen and (max-width: 1200px) {
                font-size: 1.6rem;
              }
              &::placeholder {
                color: #005458;
                font-size: 1.6rem;
                text-transform: uppercase;
                text-align: start;
                @media screen and (max-width: 1200px) {
                  font-size: 1.3rem;
                }
              }
              &:focus,
              &:active {
                outline: none;
              }
            }
          }
        }
      }

      .flight-date__box {
        margin-left: 1rem;
        display: flex;
        @media screen and (max-width: 430px) {
          grid-column: 1/3;
        }
        @media screen and (max-width: 380px) {
          display: grid;
          grid-template-columns: 1fr;
        }
        .depature-arrival__date {
          border: 2px solid #dee2e6;
          display: flex;
          &:not(:first-child) {
            border-left: none;
            @media screen and (max-width: 400px) {
              border: 2px solid #dee2e6;
              border-top: none;
            }
          }
          @media screen and (max-width: 750px) {
            width: 100%;
          }

          .flight-icon-box {
            background-color: #005458;
            padding: 0.5rem;
            border-radius: 1rem;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            align-self: center;
            .flight-icon {
              font-size: 1.8rem;
              fill: #fff;
              @media screen and (max-width: 1200px) {
                font-size: 1.4rem;
              }
            }
          }
          .input-con {
            padding: 1rem 0;
            padding-bottom: 0rem;
            display: flex;
            flex-direction: column;
            p {
              padding-right: 1rem;
              font-size: 1.4rem;
              margin-bottom: 0.5rem;
              //font-family: "Syncopate", sans-serif;
              font-family: "Montserrat Alternates", sans-serif;
              font-weight: 500;
              text-transform: uppercase;
              @media screen and (max-width: 1200px) {
                font-size: 1.2rem;
              }
            }
            .date-picker {
              border: none;
              background: none;
              outline: none;
              font-size: 1.4rem;
              color: #005458;
            }
          }
        }
      }

      .add-people-box {
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
        border: 2px solid #dee2e6;
        @media screen and (max-width: 750px) {
          width: max-content;
        }
        .people-icon-box {
          background-color: #005458;
          padding: 1rem;
          border-radius: 1rem;
          margin-right: 0.5rem;
          margin-left: 1rem;
          align-self: center;
          color: #fff;
          &:first-child {
            font-size: 2rem;
            fill: #fff;
          }
        }

        .add-people {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;
          padding: 0 1rem;
          @media screen and (max-width: 1200px) {
            font-size: 1.4rem;
          }
          .arrow-decrement {
            font-size: 1.8rem;
            cursor: pointer;
            margin-top: 0.5rem;
            fill: #ff6380;
            @media screen and (max-width: 1200px) {
              font-size: 1.6rem;
            }
          }
          input {
            font-size: 2rem;
            font-weight: 900;
            width: 1.5rem;
            border: none;
            outline: none;
            padding: 0.5rem 0;
            color: #005458;
            background: none;
            @media screen and (max-width: 1200px) {
              font-size: 1.6rem;
            }
          }
          .arrow-increment {
            align-self: flex-start;
            justify-self: flex-start;
            cursor: pointer;
            margin-bottom: 0.5rem;
            fill: #ff6380;
          }
        }
      }
    }
    .flight-form__submit-btn {
      text-align: end;
      display: flex;
      justify-content: end;
      button {
        padding: 1.5rem 2rem;
        background-color: #ff6380;
        color: #fff;
        cursor: pointer;
        margin-right: 3rem;
        margin-top: -2rem;
        border: none;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        &:hover,
        &:focus,
        &:active {
          transform: scale(1.1);
          transition: all ease-in 0.2s;
        }
        span {
          font-size: 2rem;
          font-family: "Montserrat Alternates", sans-serif;
          font-weight: 800;
        }
        .arrow-next {
          margin-left: 0.5rem;
          font-size: 2rem;
        }
      }
    }
  }
}

.available-soon {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  color: red;
}
