.section-services {
  margin-top: 5rem;
  background-color: #b3d8db;
  height: max-content;
  display: grid;
  grid-template-columns: 100vw;

  .services-text-con {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 3rem 5rem;
    color: #000;
    @media screen and (max-width: 700px) {
      padding: 3rem 1rem;
      display: grid;
      grid-template-columns: 1fr;
    }

    h1 {
      font-size: 4rem;
      word-spacing: 0.5rem;
      width: 50%;
      padding: 3rem;
      font-family: "Montserrat Alternates", sans-serif;
      justify-self: start;
      color: #eb6440;
      text-transform: capitalize;
      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }
    p {
      font-size: 2rem;
      width: 50%;
      padding: 3rem;
      font-family: "Montserrat", sans-serif;
      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }
  }

  @keyframes fadein {
    0% {
      display: none;
    }
    50% {
      display: block;
    }

    100% {
      display: none;
    }
  }

  .products-display-travel,
  .products-display-apartment,
  .products-display-food {
    padding-top: 4rem;
    margin-top: 3rem;
    //background-color: #d87154;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-bottom: 5rem;
    width: 80%;
    justify-self: center;
    margin-bottom: -10rem;
    border-radius: 5rem;
    @media screen and (max-width: 1100px) {
      width: 90%;
    }
    @media screen and (max-width: 700px) {
      max-width: 98%;
    }
    h1 {
      padding: 3rem;
      padding-top: 5rem;
      font-family: "Montserrat Alternates", sans-serif;
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
    .img-con {
      display: flex;
      justify-content: center;
      height: 50rem;
      img {
        text-align: center;
        // padding: 2rem;
        transform: scale(0.8);
        @media screen and (max-width: 700px) {
          transform: scale(0.5);
        }
      }
    }
  }

  .products-display-travel {
    background-color: #eb6440;
  }
  .products-display-apartment {
    background-color: #005458;
  }
  .products-display-food {
    background-color: #001253;
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.progress-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
}
.arrows-box {
  display: flex;
  justify-self: end;
  margin-right: 5rem;
  div {
    padding: 1.5rem 1.7rem;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    margin-right: 2rem;
    cursor: pointer;
    .icon {
      font-size: 5rem;
      fill: #ff6380;
    }
  }
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 0 5rem;
  width: 100%;
  animation-name: progressBar;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  height: 0.7rem;
  color: #fff;
}
progress[value]::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 3rem;
}
progress[value]::-moz-progress-bar {
  background-color: transparent;
  border-radius: 3rem;
}
progress[value]::-webkit-progress-value {
  border-radius: 3rem;
  background-color: #fff;
}
