.section-QA {
  margin-top: 5rem;
  background-color: #000;
  text-align: center;
  padding: 4rem;
  padding-top: 10rem;
  @media screen and (max-width: 700px) {
    padding: 3rem 1rem;
  }

  .QA-con {
    background-color: #005458;
    padding: 4rem;
    padding-bottom: 7rem;
    width: 80%;
    margin-left: 10%;
    border-radius: 3rem;
    // clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    // border-left: 5px solid #000;
    @media screen and (max-width: 1100px) {
      width: 90%;
      margin-left: 5%;
    }
    @media screen and (max-width: 700px) {
      width: 98%;
      margin-left: 1%;
      padding: 2rem 1rem;
    }
    h1 {
      font-size: 4rem;
      word-spacing: 0.5rem;
      font-family: "Montserrat Alternates", sans-serif;
      justify-self: start;
      color: #fff;
      text-transform: capitalize;
      padding-bottom: 3rem;
    }

    .qa-box {
      margin-top: 2.5rem;
      width: 70%;
      margin-left: 15%;
      @media screen and (max-width: 700px) {
        width: 96%;
        margin-left: 2%;
      }
      .question-box {
        border-radius: 1rem 1rem 0 0;
        font-size: 2rem;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        p {
          font-size: 1.8rem;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .plus-icon {
          background-color: transparent;
          border: none;
          padding: 0;
          font-size: 2rem;
          cursor: pointer;
        }
      }
      .answer-box {
        margin-top: 0rem;
        text-align: start;
        background-color: #dee2e6;
        color: #000;
        text-transform: lowercase;
        border-radius: 0 0 1rem 1rem;
        p {
          padding: 1rem 1.5rem;
          font-size: 1.8rem;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
      }
    }
  }
}
