.homepage-footer {
  background-color: #000;
  color: #fff;
  padding-bottom: 7rem;
  .footer-icon {
    padding-top: 5rem;
  }
  .footer-con {
    padding: 2rem 5rem;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    h1 {
      font-size: 5rem;
      font-family: "Montserrat Alternates", sans-serif;
      color: #ff6380;
    }
    .social-con {
      display: grid;
      grid-template-columns: auto auto;
      justify-self: end;
      div {
        padding: 3rem 5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        .social-icon {
          font-size: 4rem;
          fill: #ff6380;
        }
        span {
          margin-left: 1rem;
          font-size: 3rem;
        }
      }
    }
  }
}
