.section-food {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  background-color: rgba(255, 255, 255, 0.785);
  //height: 100%;
  padding-bottom: 2rem;
  position: relative;
  .title-box {
    padding: 10rem 5rem 0;
    h1 {
      font-size: 5rem;
      font-family: "Montserrat Alternates", sans-serif;
      text-transform: capitalize;
      text-align: center;

      .fresh-text {
        color: #eb6440;
      }
      .healthy-text {
        color: #005458;
      }
    }
    .searchbox {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      padding: 0rem 1rem;
      .text-box {
        height: 5rem;
        width: 50%;

        p {
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          font-size: 3rem;
        }
      }

      .input-box {
        width: 50%;
        input {
          width: 70%;
          height: 5rem;
          border-radius: 2rem 0 0 2rem;
          padding-left: 3rem;
          font-size: 1.8rem;
          border: 1px solid #000;

          &::placeholder {
            padding-left: 3rem;
            color: #000;
          }
          &:focus,
          &:active {
            outline: none;
          }
        }

        button {
          font-size: 1.8rem;
          height: 5rem;
          padding: 1rem 1.5rem;
          align-self: center;
          border-radius: 0 2rem 2rem 0;
          text-transform: capitalize;
          cursor: pointer;
          border: 0px solid #000;
          border-left: none;
          color: #fff;
          background-color: #000;
          &:hover {
            background-color: #000;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .products-box {
    width: 100%;
    padding: 3rem 3rem;
    display: flex;
    justify-content: center;

    .products-con {
      display: flex;
      justify-content: center;
      overflow-x: scroll;
      white-space: nowrap;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
      }
      .food-select {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        .product-box {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          padding: 0.5rem 0.8rem;
          cursor: pointer;
          border-radius: 50%;
          span {
            font-size: 3rem;
          }
        }
        .product-box-active {
          background-color: #fff;
          //border: 2px solid #005458;
        }

        p {
          font-size: 1.2rem;
          margin-top: 0.5rem;
          text-transform: capitalize;
        }
      }
      .food-select-active {
        background-color: #000;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 2rem;
        color: #fff;
      }
    }
    .move-right-box {
      cursor: pointer;
      align-self: center;
      background-color: #005458;
      border-radius: 3rem;
      margin-left: 1rem;
      padding: 0.7rem 0.8rem;
      .move-right {
        fill: #fff;
        font-size: 3rem;
      }
    }
  }

  .food-display_box {
    position: relative;
    width: 90%;
    margin-left: 5%;
    padding: 3rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5rem;
    .invalid-search-error {
      position: absolute;
      top: 5rem;
      left: 30%;
      transform: translateY(-30%);
      -ms-transform: translateY(-30%);
      -webkit-transform: translateY(-30%);
      font-size: 2rem;
      font-family: "Montserrat Alternates", sans-serif;
      text-transform: uppercase;
      color: #eb6440;
    }

    .food-display {
      background-color: #eb6440;
      color: #fff;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 3rem;
      //width: 100%;
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      img {
        background-color: rgba(255, 255, 255, 0.782);
        width: 100% !important;
        border-radius: 2rem;
        height: 15rem;
      }
      .food-name {
        padding: 1.5rem;
        padding-bottom: 0;
        text-align: center;
        font-size: 2rem;
        font-family: "Montserrat Alternates", sans-serif;
      }
      .food-booking {
        justify-self: flex-end;
        align-self: flex-end;
        padding: 1rem 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;

        .price-box {
          display: flex;
          flex-direction: column;
          p {
            font-family: "Montserrat Alternates", sans-serif;
            font-size: 1.4rem;
            justify-self: center;
            align-self: center;
          }
          span {
            font-size: 1.9rem;
            justify-self: center;
            align-self: center;
            font-family: "Raleway", sans-serif;
            font-weight: 600;
          }
        }

        .quantity-input {
          color: #fff;
          .decrease {
            font-size: 1.8rem;
            margin-right: 0.5rem;
            cursor: pointer;
          }
          input {
            background: #fff;
            border: none;
            outline: none;
            color: #000;
            font-size: 2.2rem;
            text-align: center;
            width: 3rem;
            border-radius: 0.5rem;
          }
          .increase {
            font-size: 1.7rem;
            margin-left: 0.5rem;
            cursor: pointer;
          }
        }
      }
      .btn {
        width: 100%;
        cursor: pointer;
        padding: 1.2rem 1.5rem;
        background-color: #fff;
        font-size: 1.7rem;
        border: none;
        border-radius: 1rem;
        color: #000;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-family: "Montserrat Alternates", sans-serif;
        &:hover,
        &:active &:focus {
          transform: scale(1.05);
          transition: all 0.2s ease-in-out;
        }
      }
      .btn__selected {
        background-color: #c3fae8;
      }
    }
    .display-design {
      background-color: #005458;
    }
  }
  .search-more-box {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    .search-more {
      border: 1px solid #000;
      padding: 1.5rem 2rem;
      color: #000;
      background-color: transparent;
      border-radius: 1rem;
      transform: scale(1.1);
      cursor: pointer;
      &:hover,
      &:active,
      &:focus {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
.blur-section {
  filter: blur(3px) !important;
  height: 100vh;
  overflow-y: scroll;
}

@keyframes cartDisplay {
  0% {
    position: absolute;
    top: 1rem;
    right: -10rem;
  }
  50% {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  100% {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
}

//////SECTION CART///////////////////

.cart-section {
  padding: 3rem 5rem;
  z-index: 100;
  width: max-content;
  position: absolute;
  top: 1rem;
  right: 2rem;
  background-color: #005458;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 3rem;
  height: max-content;
  max-height: 100vh !important;
  overflow-y: scroll;
  scroll-behavior: smooth;
  min-height: 20rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  animation: cartDisplay 2s;

  h1 {
    margin-top: 2rem;
    font-size: 2rem;
    font-family: "Syncopate", sans-serif;
  }
  .no-cart-error {
    margin-top: 2rem;
    font-size: 2rem;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: rgb(144, 255, 255);
  }
  .food-cart-info {
    margin-top: 3rem;
    display: flex;
    height: 8rem;
    border: 1px solid rgb(227, 226, 226);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1rem;
    img {
      background-color: #fff;
      width: 30%;
      margin-right: 1rem;
      border-radius: 1rem 0 0 1rem;
    }
    .food-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .food-sort-name {
        width: 100%;
        font-size: 2rem;
        justify-self: flex-start;
        font-family: "Montserrat Alternates", sans-serif;
        text-transform: capitalize;
      }
      .quantity-box {
        width: 100%;
        align-self: flex-end;
        display: flex;
        justify-content: space-around;
        padding-bottom: 0.5rem;
        .amount {
          font-size: 1.8rem;
        }
        .quantity-input {
          margin-left: 2rem;
          align-items: center;
          color: #fff;
          .decrease {
            font-size: 1.8rem;
            margin-right: 0.5rem;
            cursor: pointer;
          }
          input {
            background: #fff;
            border: none;
            outline: none;
            color: #000;
            font-size: 2rem;
            text-align: center;
            width: 3rem;
            border-radius: 0.5rem;
          }
          .increase {
            font-size: 1.7rem;
            margin-left: 0.5rem;
            cursor: pointer;
          }
        }
        button {
          margin-left: 4rem;
          padding: 0.5rem 1rem;
          border: none;
          font-size: 1.6rem;
          background-color: red;
          color: #fff;
          border-radius: 1rem;
          cursor: pointer;
          &:hover,
          &:active &:focus {
            transform: scale(1.1);
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }
  }
  .total-amount-box {
    margin-top: 2rem;
    align-self: end;
    display: flex;
    flex-direction: column;
    p {
      font-size: 2rem;
      text-transform: capitalize;
      font-family: "Montserrat Alternates", sans-serif;
    }
    span {
      margin-top: 1rem;
      font-size: 1.8rem;
      font-family: "Syncopate", sans-serif;
    }
  }
  .btns-con {
    margin-top: 5rem;
    align-self: end;

    button {
      padding: 1rem 3rem;
      text-transform: capitalize;
      border: none;
      border-radius: 1.5rem;
      font-size: 1.8rem;
      font-family: "Montserrat Alternates", sans-serif;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      cursor: pointer;
      &:hover,
      &:active &:focus {
        transform: scale(1.1);
        transition: all 0.1s ease-in-out;
      }
    }
    .order-btn {
      margin-left: 2rem;
      background-color: #eb6440;
      color: #fff;
    }
  }
}
